
.home-container {
    background-image: url('media/aviao.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home-card {
    width: 500px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.navbar-brand {
    padding: 0; 
    margin-left: 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    transform: scale(4.5);
    transform-origin: center;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    padding-left: 5px;
}

h2 {
    font-weight: bold;
    color: #333;
    margin-top: -80px;
}

.form-control {
    width: 100%;
    margin: 0 auto;
}

.form-label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

button {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .home-card {
        padding: 15px;
    }

    .logo {
        width: 250px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .form-control {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 200px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
