html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-bottom: 5%;
    max-width: 1400px; /* Aumenta a largura máxima */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    background-color: #ffffff; /* Opcional: cor de fundo para destacar */
}

  
  .footer {
    background-color: #212529;
    color: #f8f9fa;
    padding: 50px 20px;
    margin-top: auto; 
    width: 100%; 
    text-align: center;
  }
  
  .container {
    flex: 1; 
    padding-bottom: 30px; 
    margin-bottom: 30px; /* Adiciona espaçamento inferior opcional */
  }